@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  /* */
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  background-color: #F2F2F2;
  color: #000000;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*-------------------------INDEX-----------------------*/
/*-------------------------HEADER----------------------*/
.main-header {
  width: 1200px;
  background-color: #fff;
  margin: 0 auto;
  height: 64px;

}

.header-wrapper {
  width: 1060px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  margin-bottom: -12px;
}

.logo-link {
  z-index: 1;
}

.nav-list {
  display: flex;
  gap: 32px;
  justify-content: flex-start;
  max-width: 460px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: 44px;
}

.nav-list-user {
  margin-left: auto;
  gap: 32px;
}

.nav-list .nav-item {
  position: relative;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-link-search {
  left: 8px;
}

.many-favorite {
  position: absolute;
  top: -10px;
  left: 10px;
  border-radius: 10px;
  text-align: center;
  font-family: PT Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  background-color: #7DB54F;
  padding: 5px;
  color: #FFFFFF;
}



.nav-link {
  position: relative;
  text-decoration: none;
  color: #000000;
}

.nav-link:hover {
  color: #756157;

}

.nav-link:active {
  color: #7561574D;
}

.nav-link-current::before {
  z-index: 2;
  position: absolute;
  bottom: -21px;
  width: 68px;
  height: 2px;
  content: "";
  background: #756257;
}

.header-btn {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;

  padding: 8px 34px;
  background-color: #756157;
  border-radius: 4px;
}

.header-btn:hover {
  background-color: #615048;
}

.header-btn:active {
  background-color: #756157;
  color: #FFFFFF4D;
}

/*-------------------------/HEADER---------------------*/
/*-------------------------HERO------------------------*/

.hero {
  background-image: url(../img/index/hero-bg.jpg);
  background-color: #15d9fc;
  background-repeat: no-repeat;
  background-size: auto;

  display: flex;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.hero-img {
  margin: 51px auto 82px;
}

.hero::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  left: 0;
  height: 57px;
  background-repeat: no-repeat;
  background-image: url(../img/index/hero-decor.svg);
}


/*-------------------------/HERO-----------------------*/
/*----------------------ADVANTAGES---------------------*/

.advantages {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding-top: 69px;
}

.about-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  max-width: 620px;
  margin: 0 auto;
}

.about-subtitle {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 90px;

}

/* GRID */
.advatages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-areas: "ai-1 ai-1 ai-1"
    "ai-2 ai-3 ai-4"
    "ai-5 ai-5 ai-5";
}

.ai-1 {
  grid-area: ai-1;
}

.ai-2 {
  grid-area: ai-2;
  width: 400px;
}

.ai-3 {
  grid-area: ai-3;
  width: 400px;
}

.ai-4 {
  grid-area: ai-4;
  width: 400px;
}

.ai-5 {
  grid-area: ai-5;
}

/* GRID */

.advantages-item {
  height: 385px;

}

.advantages-item:first-child {
  display: flex;
  justify-content: space-between;

  color: #F2F2F2;
  background-color: #82B3D3;
}

.advantages-item:first-child .advantages-subtitle {
  color: #F2F2F2;
}

.advantages-item:last-child {
  display: flex;
  justify-content: space-between;

  color: #F2F2F2;
  background-color: #82B3D3;
}

.advantages-item:last-child .advantages-subtitle {
  color: #F2F2F2;
}

.advantages-item:nth-child(even) {
  background-color: #83B3D31F;
}

.advantages-item:nth-child(3) {
  background-color: #83B3D333;
}

.advantages-grid-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}



.advantages-title {
  position: relative;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  width: 175px;
  margin: 0 auto;
  text-align: center;
  margin-top: 113px;
}

.advantages-title::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  top: 85px;
  left: 56px;
  background-color: #FFFFFF4D;
}


.advantages-item-wrapper .advantages-title::after {
  background-color: #0000004D;
}

.advantages-subtitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  max-width: 230px;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
}

.advantages-title-white {
  margin-top: 104px;
  width: 175px;
}

/*----------------------/ADVANTAGES -------------------*/
/*----------------------FEATURES-----------------------*/

.features {
  width: 1200px;
  margin: 0 auto;
  padding-top: 64px;
  background-color: #fff;

}

.features-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  max-width: 505px;
  margin: 0 auto;
}

.features-subtitle {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin-top: 20px;
}

.features-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 64px;
}

.features-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 80px 85px;
  width: 400px;
  height: 385px;
}

.features-item:nth-child(odd) {
  background-color: #83B3D31F;

}


.features-list-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 32px;
}

.features-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  width: 230px;
  text-align: center;
  margin-top: 7px;
}

.features-text:last-child {
  margin-top: 5px;
}


/*----------------------/FEATURES----------------------*/
/*-----------------------SEARCH------------------------*/

.search-section {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}

.search-section-wrapper {
  width: 592px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.search-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;

  margin: 96px auto 0;
  text-align: center;
}

.search-subtitle {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #333333;

  margin: 20px auto 0;
  text-align: center;
}

.search-link {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;

  padding: 8px 50px;
  border-radius: 4px;
  background-color: #756157;

  margin: 54px auto 96px;
}

.search-link:hover {
  background-color: #615048;
}

.search-link:active {
  background-color: #756157;
  color: #FFFFFF4D;
}

/*-----------------------/SEARCH-----------------------*/
/*-----------------------MAILING-----------------------*/

.mailing {
  background-color: aqua;
  background-image: url(../img/subscribe.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;

  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.mailing-catalog {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.mailing-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 96px auto 0;
  text-align: center;
}

.mailing-title-catalog {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 96px auto 0;
  text-align: center;
}

.mailing-subtitle {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #FFFFFF;
  margin: 20px auto 0;
  text-align: center;
  width: 475px;
}

.mailing-subtitle-catalog {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  margin: 20px auto 0;
  text-align: center;
  width: 475px;
}

.mailing-form {
  margin: 54px auto 104px;
}

.mailing-label {
  display: flex;
}

.mailing-input {
  border: none;
  border-radius: 4px 0 0 4px;
  background: var(--basic-light, #F2F2F2);
  width: 452px;
  height: 52px;
  margin: 0;
  padding: 12px 20px;

  color: var(--basic-black, #000);
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}


.mailing-button {
  text-align: center;
  font-family: PT Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;

  background-color: #82B3D3;
  color: #FFFFFF;
  width: 232px;
  height: 52px;
  border: none;
  border-radius: 0 4px 4px 0;
  margin: 0;
  padding: 0;
}

.mailing-button:hover {
  background-color: #68A2CA;
}

.mailing-button:active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}


/*-----------------------/MAILING----------------------*/
/*------------------------FOOTER-----------------------*/

.main-footer {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}

.main-footer-wrapper {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
}

.social-list {
  list-style-type: none;
  margin: 0;
  margin-top: 58px;
  padding: 0;
  display: flex;
  gap: 27px;
  margin-left: 13px;
}

.social-link path:hover {
  fill: #68A2CA;
}

.social-link path:active {
  fill: #68A2CA4D;
}



.tel {
  margin-top: 41px;
  margin-bottom: 40px;
  margin-left: 10px;
}

.number {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
  margin-top: 7px;
}

.number:hover {
  color: #756157;
}

.number:active {
  color: #7561574D;
}

.htmlacademy-link {
  margin-top: 48px;
  text-decoration: none;
  color: #000000;
}

.htmlacademy-link:hover {
  color: #756157;
}

.htmlacademy-link:active {
  color: #7561574D;
}

/*------------------------/FOOTER-----------------------*/
/*-------------------------/INDEX-----------------------*/
/*------------------------CATALOG-----------------------*/
/*--------------------------FILTER----------------------*/
.filter {
  width: 1200px;
  height: 412px;
  margin: 0 auto;
  background-image: url(../img/filter.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #15d9fc;

  display: flex;
  flex-direction: column;


}

.filter-contain {
  width: 1060px;
  margin: 0 auto;

}

.filter-section-title {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  color: #FFFFFF;
  margin: 0;
  margin-top: 35px;

}



.breadcrumbs-list {
  list-style-type: none;
  display: flex;
  margin-top: 7px;
  align-items: center;
  gap: 20px;
  padding: 0;
  gap: 10px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-svg {
  display: block;
  position: relative;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.6;
}

.catalog-form {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;

}

.filter fieldset {
  border: 0;
  padding: 0;
}

.infrastructure {
  margin: 0;
  padding: 0;
}

.housing {
  margin-left: 71px;
}


.filter-item:first-child {
  margin-top: 32px;
}

.filter-item:not(first-child) {
  margin-top: 16px;
}

.filter-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #FFFFFF;
}

.filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.filter-item {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  color: #FFFFFF;
}

.filter-name {
  padding-left: 36px;
}

.filter-input {
  appearance: none;
  position: absolute;
}

.check-box {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='0.5' width='20' height='20' rx='4' fill='white'/%3E%3C/svg%3E%0A");
  margin-left: -36px;
}

.radio-box {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='0.5' width='20' height='20' rx='10' fill='white'/%3E%3Ccircle cx='10' cy='10.5' r='10' fill='white'/%3E%3C/svg%3E%0A");
  margin-left: -36px;
}


/* CHECKED */

.filter-input:checked + .check-box {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='0.5' width='20' height='20' rx='4' fill='white'/%3E%3Cpath d='M15 6.5L8.5 13.9L5.1 10L4 11.2L8.5 16.4L16.2 7.8L15 6.5Z' fill='%233F5E72'/%3E%3C/svg%3E");
}

.filter-input:checked + .radio-box {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10.5' r='10' fill='white'/%3E%3Cpath d='M5 10.5C5 7.73858 7.23858 5.5 10 5.5C12.7614 5.5 15 7.73858 15 10.5C15 13.2614 12.7614 15.5 10 15.5C7.23858 15.5 5 13.2614 5 10.5Z' fill='%233F5E72'/%3E%3C/svg%3E ");
}


.control {
  position: relative;
}

.control-contain {
  margin-top: 32px;
  display: flex;
  gap: 2px;
  margin-bottom: 36px;
}

.control-text {
  color: #000;
  opacity: 0.3;
}

.control-text-from {
  position: absolute;
  right: 15px;
  top: 1px;
}

.control-text-to {
  position: absolute;
  right: 15px;
  top: 1px;
}

.control-input::-webkit-outer-spin-button,
.control-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.control-input {
  width: 143px;
  padding: 12px 35px 12px 20px;
  justify-content: space-between;
  align-items: center;
  border: 0;
  background: var(--basic-light, #F2F2F2);
}

.control-input:focus {
  outline: none;
}

.control-input-from {
  border-radius: 4px 0 0 4px;
  color: #000;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px
}

.control-input-to {
  border-radius: 0 4px 4px 0;
  color: #000000;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px
}

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  background: rgba(255, 255, 255, 0.3);
  top: 8px;

}

.range-bar {
  position: relative;
  width: 226px;
  height: 4px;
  background: #ffffff;
}

.range-btn {
  border: none;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: #ffffff;
}

.range-min {
  top: -8px;
  left: 0;
}

.range-max {
  right: 0;
  top: -8px;
}

.range-btn:hover {
  background: #cecece;
}

.range-btn:active,
.range-btn:focus {
  background: #7a7a7a;
}

.price {
  margin-left: 149px;
  margin-right: 0;
}


.price-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #FFFFFF;
}

.submit-btn {
  color: #FFF;
  text-align: center;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;

  text-transform: uppercase;

  background-color: #82b3d3;
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 191px;
  height: 36px;
}

.reset-btn {
  background: none;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-top: 40px;
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.submit-btn:hover {
  background-color: #68A2CA;
}

.submit-btn:active {
  background-color: #82B3D3;
}

.reset-btn:hover {
  opacity: 0.6;
}

.reset-btn:active {
  opacity: 0.1;
}

.filter-btn {
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 69px;
  margin-top: 56px;
}

/*--------------------------/FILTER---------------------*/
/*--------------------------CATALOG---------------------*/

.catalog {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.catalog-contain {
  width: 1060px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;

}

.view-list {
  display: flex;
  gap: 8px;
  padding: 0;
  margin: 0;
}

.catalog-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 57px;
}

.sorting {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;

  width: 292px;
  height: 49px;
  border-radius: 4px;
  border: 2px solid;
  border-color: #E5E5E5;
  margin-top: 50px;
  margin-left: 139px;
  padding: 14px 20px;
}

.sorting:hover {
  border-radius: 4px;
  border: 2px solid var(--buttons-blue-hover, #68A2CA);
}


.view-list {
  list-style-type: none;
  margin-top: 50px;
  padding: 0;
}

.view-item {
  padding: 14px 12px;
  width: 44px;
  height: 48px;
}

.view-item:nth-child(2) {
  border-radius: 4px;
  border: 2px solid var(--forms-elements-1, #E5E5E5);
}

.view-item:nth-child(3) {
  border-radius: 4px;
  border: 2px solid var(--forms-elements-1, #E5E5E5);
}

.view-item:hover {
  opacity: 0.8;
}

.view-item:active {
  opacity: 0.6;
}

.view-item:focus {
  border-color: #68A2CA;
}

.view-item-current {
  border-radius: 4px;
  border: 2px solid var(--icons-basic, #000);
}

.view-item:not(:last-child) {
  margin-right: 8px;
}

.hotel-list {
  list-style-type: none;
  margin: 0;
  margin-left: 78px;
  margin-top: 21px;
  padding: 0;
  width: 1060px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

/* GRID */
.hotel {
  height: 438px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  padding: 20px;

  display: grid;
  grid-template-areas: "img img"
    "type price"
    "more favorite"
    "stars raiting";
}

.hotel-link {
  grid-area: img;
}

.hotel-type {
  grid-area: type;
}

.hotel-price {
  grid-area: price;
}

.more {
  grid-area: more;
}

.favorite {
  grid-area: favorite;
}

.stars {
  grid-area: stars;
}

.raiting {
  grid-area: raiting;
}

/* GRID */

.hotel-link {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;

  text-decoration: none;
  color: #000000;
}

.hotel-name {
  margin: 0;
}

.hotel-type {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.hotel-price {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  text-align: right;
}

.btn-more {
  display: flex;
  margin: 0;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--buttons-basic, #756157);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 140px;
  height: 36px;
}

.btn-more:hover {
  background-color: #615048;
}

.btn-more:active {
  background-color: #756157;
  color: #FFFFFF4D;
}

.btn-favorite {
  display: flex;
  margin: 0;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--buttons-basic, #82B3D3);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 140px;
  height: 36px;
}

.btn-favorite:not(.btn-favorite-current):hover {
  background-color: #68A2CA;
}

.btn-favorite:not(.btn-favorite-current):active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.btn-favorite-current {
  background: var(--buttons-basic, #7DB54F);
}

.btn-favorite-current:hover {
  background-color: #6C9E42;
}

.btn-favorite-current:active {
  background-color: #7DB54F;
  color: #FFFFFF4D;
}

.stars {
  display: flex;
  height: 37px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}

.star {
  display: block;
  margin-right: 6px;
  width: 18px;
  height: 17px;
  background-image: url("../img/catalog/star.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.star:last-child {
  margin-right: 0;
}

.raiting {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  text-align: right;
}

/*--------------------------/CATALOG--------------------*/
/*--------------------------PAGINATION------------------*/

.pagination {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}


.pagination-wrapper {
  width: 1060px;
  margin: 0 auto;

}

.pagination-list {
  padding-top: 80px;
  padding-bottom: 60px;
  list-style-type: none;
  display: flex;
  gap: 8px;
  margin: 0;

}

.pagination-link {
  background-color: #82B3D3;
  padding: 11px 25px;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 4px;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.pagination-link:not(.pagination-link-current):hover {
  background-color: #68A2CA;
}

.pagination-link:not(.pagination-link-current):active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.pagination-link-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-link-ten {
  padding: 11px 18px;

}

.dots {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding: 16px;
}

/*-------------------------/PAGINATION------------------*/
/*------------------------ MODAL------------------------*/

.modal-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.80);
  z-index: 2;
}

.modal-container-closed {
  display: none;
}

.modal {
  background-color: #fff;
  margin: auto;
  padding: 64px 70px;
  width: 717px;
  position: relative;

}

.modal-close {
  position: absolute;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border-radius: 50px;
  border: none;
  right: 52px;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.4905 4.78288L16.1982 3.49057L10.4905 9.19826L4.78279 3.49057L3.49048 4.78288L9.19817 10.4906L3.49048 16.1983L4.78279 17.4906L10.4905 11.7829L16.1982 17.4906L17.4905 16.1983L11.7828 10.4906L17.4905 4.78288Z' fill='black'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.modal-close:hover {
  background-color: #E6E6E6;
}

.modal-close:active {
  opacity: 0.5;
}

.modal-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 64px;
}

.modal-fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.date-to,
.date-from {
  font-family: PT Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  display: flex;
}

.date-to-input {
  display: flex;
  padding: 12px 20px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 440px;
  height: 48px;
  border-radius: 4px;
  background: var(--basic-light, #F2F2F2);
  border: none;

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.label-text-to {
  margin-right: 24px;
  align-self: center;
}


.date-to-text {
  color: #FF5757;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  width: 331px;
  margin-left: 157px;
  margin-bottom: 23px;
}

.date-from-input {
  display: flex;
  padding: 12px 20px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 440px;
  height: 48px;
  border-radius: 4px;
  background: var(--basic-light, #F2F2F2);
  border: none;

  color: #000000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.date-from-text {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin-left: 157px;
  margin-bottom: 23px;
  width: 331px;
  margin-bottom: 23px;
}

.label-text-from {
  margin-right: 18px;
  align-self: center;
}

.person {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  display: flex;

}

.person-adult {
  margin-right: 46px;
  align-self: center;
}

.person-child {
  display: flex;
  margin-left: 88px;
  margin-right: 82px;
  align-self: center;
}

.person-child::after {
  content: "";
  background-color: #83B3D3;
  position: absolute;
  right: 160px;
  width: 26px;
  height: 26px;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 4H11V6H9V4ZM11 16H9V7H11V16Z' fill='white'/%3E%3C/svg%3E%0A");
}

.modal-input-btn {
  display: flex;
  width: 110px;
  height: 48px;
  background: var(--basic-light, #F2F2F2);
  border-radius: 4px;
}

.modal-input-btn:first-child {
  margin-right: 88px;
}

.person-quantity {
  display: flex;
  padding: 14px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 48px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  z-index: 1;
}

.btn-input {
  width: 40px;
  height: 48px;
  border: 0;
  background-color: #F2F2F2;
}

.btn-input:hover {
  background-color: #a0a0a0;

}

.btn-input:active {
  background-color: #616161;
}

.btn-input-minus {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 9V11H17V9H3Z' fill='%23756157' fill-opacity='0.3'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 4px;
}

.btn-input-minus:hover {}

.btn-input-plus {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 9H11V3H9V9H3V11H9V17H11V11H17V9Z' fill='%23756157' fill-opacity='0.3'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 4px;
}

.person-quantity::-webkit-outer-spin-button,
.person-quantity::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.modal-btn {
  margin-top: 48px;
  display: flex;
  width: 577px;
  padding: 18px 77px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #83B3D3;

  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  border: none;
}

.modal-btn:hover {
  background-color: #68A2CA;
}

.modal-btn:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}





/*----------------------- /MODAL------------------------*/
